@{
    ViewBag.Title = "Inicio";
}
@section head{
    @*<script src="@Url.Content("~")assets/js/app/admin/user/index.js"></script>*@
}
@section body{
    
    <div class="col-sm-6">
        <a class="btn" href="http://localhost:6585/user/index">Login</a>
    </div>
}