.gh-menu a {
    border: 0 none !important;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
}

    .gh-menu a:hover:before, a:active:before, a:focus:before {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }

    .gh-menu a:before {
        opacity: .1;
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: gray;
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transform-origin: 50%;
        transform-origin: 50%;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-duration: .3s;
        transition-duration: .3s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }

.gh-dropdown-submenu {
    position: relative;
}

    .gh-dropdown-submenu > .gh-dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -6px;
        margin-left: -1px;
        border-radius: 6px 0 0 6px;
    }

    .gh-dropdown-submenu:hover > .gh-dropdown-menu {
        display: block;
    }

    .gh-dropdown-submenu > a:after {
        display: block;
        content: " ";
        float: right;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        border-width: 5px 0 5px 5px;
        margin-top: 5px;
        margin-right: -10px;
    }

    .gh-dropdown-submenu .pull-left {
        float: none;
    }

        .gh-dropdown-submenu.pull-left > .gh-dropdown-menu {
            left: -100%;
            margin-left: 10px;
            border-radius: 6px 0 6px 6px;
        }


@media (max-width:767px) {
    gh-menu a {
        text-align: right !important;
    }
}
