<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  
    <add key="tiempoEspera" value="10000" />
    <add key="usuario" value="Authorization" />
    <add key="clave" value="Bearer KMiiIzg2ybE4GDn9fKdUYUwSl7a3tjcV3Oa6U4QX" />
    <add key="url" value="https://tecactus.com/api/reniec/dni" />
    <add key="smtpUser" value="" />
    <!--datos para correo-->
    <add key="smtpHost" value="pKf2SmYFi64fJmi68BYlrQ==" />
    <add key="smtpPort" value="LcSrIZ8ypAE=" />
    <add key="smtpUser" value="" />
    <add key="smtpPass" value="" />
    <add key="smtpSSL" value="/TsskLjbiW4=" />
    <add key="smtpFromName" value="ventaspositiva@lapositiva.com.pe" />
  
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  <system.serviceModel>
        <!--Desde aca -->
    <services>
      <service name ="ServicioInnovador.ServicioDniUpc">
        <endpoint address=""
                  binding="webHttpBinding"
                  contract="ServicioInnovador.IServicioDniUpc"
                  bindingConfiguration="EnlaceHTTPRest"
                  behaviorConfiguration="webRest">
        </endpoint>
      </service>
    </services>
     <bindings>
      <webHttpBinding>
        <binding name="EnlaceHTTPRest"
                 crossDomainScriptAccessEnabled="true">
        </binding>
      </webHttpBinding>
    </bindings>
    <!--Hasta aca -->
    <behaviors>
        <!--Desde aca -->
      <endpointBehaviors>
        <behavior name="webRest">
          <webHttp helpEnabled="true"/>
        </behavior>
      </endpointBehaviors>
      <!--Hasta aca -->
      <serviceBehaviors>
        <behavior>
          <!-- Para evitar revelar información de los metadatos, establezca los valores siguientes en false antes de la implementación -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- Para recibir detalles de las excepciones en los fallos, con el fin de poder realizar la depuración, establezca el valor siguiente en true. Para no revelar información sobre las excepciones, establézcalo en false antes de la implementación -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        Para examinar el directorio raíz de la aplicación web durante la depuración, establezca el valor siguiente en true.
        Establézcalo en false antes de la implementación para evitar revelar información sobre la carpeta de aplicación web.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
